## `git` repository
.git

## Other miscellaneous files used locally are stored here
.exclude

## Nested repos
Foundations/04-HTMLFoundations/first-website
# Foundations/04-HTMLFoundations/first-website/*