## `git` repository
.git

## Other miscellaneous files used locally are stored here
.exclude

## Project subrepos
# Foundations/04-HTMLFoundations/08-ProjectRecipes/basic-recipe-website
# Foundations/06-Flexbox/05-ProjectLandingPage/landing-page
# Foundations/07-JavaScriptBasics/07-ProjectRockPaperScissors/rock-paper-scissors

.subrepos
