<!doctype html>
<html lang="en">
  <head>
    <%- include('./components/head.ejs') -%>

    <title>...? | Local Library</title>

    <meta http-equiv="refresh" content="3; URL=/" />
    <script type="module">
      /** https://stackoverflow.com/a/20706004 */
      function startInterval(seconds, fn) {
        fn();
        setInterval(fn, seconds * 1000);
      }

      const ctDisplay = document.querySelector("span");
      let ct = 3;
      startInterval(1, () => {
        if (ct === 0) return;
        ctDisplay.textContent = ct--;
      });
    </script>
  </head>
  <body class="grid md:grid-cols-[1fr_4fr] gap-6 p-6">
    <aside><%- include('./components/nav-links.ejs') -%></aside>

    <main class="grid auto-rows-min gap-6">
      <blockquote class="bg-neutral-100 text-neutral-500 text-xl italic p-6">
        ...I have no memory of this place.
      </blockquote>
      <p>Redirecting to the home page in <span>3</span> seconds...</p>
    </main>
  </body>
</html>
