<!doctype html>
<html lang="en">
  <head>
    <%- include('./components/head.ejs') -%>

    <title><%= documentTitle -%></title>
  </head>
  <body class="grid md:grid-cols-[1fr_4fr] gap-6 p-6">
    <aside><%- include('./components/nav-links.ejs') -%></aside>

    <%- include(contentView) -%>
  </body>
</html>
